<main>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item ">Ratings</li>
                    <li class="breadcrumb-item active"><a routerLink="/smartclaim">Here is your review</a></li>         
                   
                </ol>
                
                <div class="jumbo">
                    <!-- <h4>Smart Claim Process:</h4> -->
                    <!-- <p> This lists out all the details of smart claim, click on each to see a form for a given category.</p> -->
                    
                  </div>
                  <div class="jumbo" id="userinfo">
                      <div class="image-for-article-15668-1">
                          <img src="/assets/images/premium.jpg" alt="newsletter Image">
                         
                       </div>
                  
                  </div>
                 
              </div>
          </div>
        </div>
      </main>