<main>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item ">Histroy</li>
                    <li class="breadcrumb-item active"><a routerLink="/smartclaim">Travel Histroy</a></li>            
                   
                </ol>
                
                <div class="jumbo">
                    <h4>Smart Claim Process:</h4>
                    <!-- <p> This lists out all the details of smart claim, click on each to see a form for a given category.</p> -->
                    
                  </div>
                  <div class="jumbo">
                      <div class="sectionTitle">
                          Travel History
                </div>
                        <div class="image-for-Travel">
                           <img src="/assets/images/TravelLog1.JPG" alt="newsletter Image">
                           
              </div>
              <div class="image-for-Travel">
                          <img src="/assets/images/Travel2.JPG" alt="newsletter Image">
                          
             </div>
             <div class="image-for-Travel">
                    <img src="/assets/images/Travel3.JPG" alt="newsletter Image">
                    
       </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </main>