<main>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item ">Home</li>
                    <!-- <li class="breadcrumb-item active"><a routerLink="/smartclaim">Smart Claim</a></li>             -->
                   
                </ol>
                
                <div class="jumbo">
                    <h4>Claim Less Intelligence</h4>
                    <p>A Connected World leads to a Claim-less Future</p>
                    <div><b><label>
                      
                    </label></b></div>
                  </div>
                  <div class="jumbo">
                      <div class="image-for-article">
                          <img src="/assets/images/smartcontract.JPG" alt="newsletter Image">
                         
                       </div>
                    </div>
                  </div>
              </div>
          </div>
      </main>