<main>
  <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
          <div class="col-xs-12 col-sm-9">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item ">Claim</li>
                  <li class="breadcrumb-item active"><a routerLink="/smartclaim">Smart Claim</a></li>            
                 
              </ol>
              
              <div class="jumbo">
                  <h4>Smart Claim Process:</h4>
                  <!-- <p> This lists out all the details of smart claim, click on each to see a form for a given category.</p> -->
                  <div><b><label>Initail Report -> Incident Details with proofs -> Damage Insection -> Notifications -> Cost processing -> Assign to Body Shop -> Process bill -> Repairs -> Payments </label></b></div>
                </div>
                <div class="jumbo">
                    <img src="/assets/images/insurance_claims_analysis.jpg"/>
              <div>
              <div>
                <label></label>
                </div>


                <label>Claim No: </label><label>1234567</label><br>
                <label>Incident Date: </label><label>3/3/2019</label><br>
                <label>Incident Location: </label><label>NJ</label><br>
                <label>Claim Type : </label><label>Comprehensive</label><br>
                <label>Claim Proofs:</label>
                <ul>
                    <li> 360 degree Images </li>
                    <li> frequency of impact </li>
                    <li> GPS information </li>
                </ul>
                  <label>Estimated Cost :    </label><label>$5000</label><br>
                  <label>Towing company :   </label><label>name</label><br>
                  <label>Registered Auto Cost</label><label>$5000</label><br>

              </div>
              
         </div>
              <router-outlet></router-outlet>
          </div>         
      </div>
  </div>
</main>



