<app-header></app-header>
<nav class="navbar navbar-dark bg-dark mb-5">
   <div class="navbar-expand mr-auto">
   <div class=" navbar-nav"> 
         <a class="nav-item nav-link active" routerLink="../home">Home <span class="sr-only">(current)</span></a>
         <a class="nav-item nav-link" routerLink="../user">Insurer Board</a>        
         <a class="nav-item nav-link" routerLink="../claims">Claims</a>        
         <a class="nav-item nav-link" routerLink="../analytics">Analytics/Statistics</a>  
         <a class="nav-item nav-link" routerLink="../vehicle">Driving History</a>
         <a class="nav-item nav-link" routerLink="../insurance">Travel History</a>       
         <a class="nav-item nav-link" routerLink="../ratings">Ratings</a>
   </div>
   </div>
   <div class="navbar-expand ml-auto navbar-nav">
           <div class="navbar-nav">
             <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
               <i class="fa fa-github"></i>
             </a>
             <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
               <i class="fa fa-twitter"></i>
             </a>
             <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
               <i class="fa fa-medium"></i>
             </a>
           </div>
   </div>
 </nav>

    
<router-outlet></router-outlet>

<app-footer></app-footer>

