
<div class="container" >

    <div class="sectionTitle1">
        <main>
            
                <div class="row row-offcanvas row-offcanvas-right">
                    <div class="col-xs-12 col-sm-9">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item ">Claim</li>
                            <li class="breadcrumb-item active"><a routerLink="/smartclaim">Auto Dashboard</a></li>            
                           
                        </ol>
                        
                        <div class="jumbo" id="process">
                            <h4>Auto Dashboard</h4>
                            <!-- <p> This lists out all the details of smart claim, click on each to see a form for a given category.</p> -->
                            
                          </div>
                      </div>  
                 
                  </div>
</main>


                          <!-- <div class="jumbo">

                      Dashboard
                    
                    </div> -->
    </div>

  
    <div class="image-for-article">
       <img src="/assets/images/dashboard.JPG" alt="newsletter Image">
      
    </div>