<main>
  <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
          <div class="col-xs-12 col-sm-9">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item ">All se</li>
                  <li class="breadcrumb-item active"><a routerLink="/smartclaim">Smart Claim</a></li>         
                 
              </ol>              
             
		<div class="container">			
        <div class="col-md-12 contact-para">
                    <h5 style="font-size: 25px!important">Insurer Details</h5>
                       <form>
            <div class="grid-contact">
              <div class="col-md-6 contact-grid">
                <p>Name</p>		
                <input type="text" value="" onFocus="this.value='';" onBlur="if (this.value == '') {this.value ='';}">						
                </div>
              <div class="col-md-6 contact-grid">
                <p>Address</p>		
                <input type="text" value="" onFocus="this.value='';" onBlur="if (this.value == '') {this.value ='';}">						
                </div>
              <div class="clearfix"> </div>
            </div>
            <div class="grid-contact">
              <div class="col-md-6 contact-grid">
              <p>City</p>						
                <input type="text" value="" onFocus="this.value='';" onBlur="if (this.value == '') {this.value ='';}">							
              </div>
              <div class="col-md-6 contact-grid">						
              <p>State / Province</p>						
                <input type="text" value="" onFocus="this.value='';" onBlur="if (this.value == '') {this.value ='';}">							
                </div>
              <div class="clearfix"> </div>
            </div>
                            
                              <div class="grid-contact">
              <div class="col-md-6 contact-grid">
              <p>Zip Code</p>						
                <input type="text" value="" onFocus="this.value='';" onBlur="if (this.value == '') {this.value ='';}">							
              </div>
              <div class="col-md-6 contact-grid">						
              <p>Country</p>						
                <input type="text" value="" onFocus="this.value='';" onBlur="if (this.value == '') {this.value ='';}">							
                </div>
              <div class="clearfix"> </div>
            </div>
                            
                                 <div class="grid-contact">
              <div class="col-md-6 contact-grid">
              <p>Phone</p>						
                <input type="text" value="" onFocus="this.value='';" onBlur="if (this.value == '') {this.value ='';}">							
              </div>
              <div class="col-md-6 contact-grid">						
              <p>Email</p>						
                <input type="text" value="" onFocus="this.value='';" onBlur="if (this.value == '') {this.value ='';}">							
                </div>
              <div class="clearfix"> </div>
            </div>
                            
                            <div class="col-md-6">
                                <div class="col-md-3"><div class="send">
                  <input type="submit" value="Save" > 
                  <input type="submit" value="Cancel" >
                </div></div>
                                <div class="col-md-3">
                                <div class="send">
                  
                </div>
                                </div>
                            
                            </div>
                
                            
          </form>

        </div>
        
        
      
</div>
<!-- //container -->
            </div>
        </div>
      </div>
    </main>

